body {
  font: 24px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.grid-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.individualSquare {
  background: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 64px;
  font-weight: bold;
  line-height: 34px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}


.individualSquare:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.app {
  display: flex;
  flex-direction: row;
}

.app-info {
  margin-left: 20px;
}
